<html>

   <head>
      <style>
         /css/
      </style>
   </head>

   <body>
      <!-- Start your code here -->
      <div class="invoice-header">
         <div class="number">Faktúra {{identifier}}</div>
         <div>
            <div>Dátum vystavenia: {{dateCreated}}</div>
            {{#if dateDelivered}}
               <div>Dátum dodania: {{dateDelivered}}</div>
            {{/if}}
            <div>Dátum splatnosti: {{dateDue}}</div>
            <div>Spôsob úhrady: {{transactionType}}</div>
         </div>
      </div>
      <div class="invoice-header">
         <div class="seller">
            <div class="info">
               <div class="header">DodáTaxeľ</div>
               <div>Underoof, s. r. o.</div>
               <div>Jamnického 3252/3</div>
               <div>841 05 Bratislava</div>
               <div>Slovensko</div>
               <div>IČO: 53275870</div>
               <div>DIČ: 2121347349</div>
            </div>
            <div class="logo">
               <img src="https://raw.githubusercontent.com/AdVision-Group/invoicing_service_templates/main/underoof/logo.png" />
            </div>
         </div>
         <div class="number-and-buyer">
            <div class="buyer">
               <div class="billing">
                  <div class="header">Odoberateľ</div>
                  <div>{{buyer.billing.name}}</div>
                  <div>{{buyer.billing.street}}</div>
                  <div>{{buyer.billing.zip}} {{buyer.billing.city}}</div>
                  <div>{{buyer.billing.country}}</div>
                  {{#if buyer.company}}
                     {{#if buyer.company.ico}}
                        <div>IČO: {{buyer.company.ico}}</div>
                     {{/if}}
                     {{#if buyer.company.dic}}
                        <div>DIČ: {{buyer.company.dic}}</div>
                     {{/if}}
                     {{#if buyer.company.icdph}}
                        <div>IČ DPH: {{buyer.company.icdph}}</div>
                     {{/if}}
                  {{/if}}
               </div>
               {{#if buyer.delivery}}
                  <div class="delivery">
                     <div class="header">Dodacia adresa</div>
                     <div>{{buyer.delivery.street}}</div>
                     <div>{{buyer.delivery.zip}} {{buyer.delivery.city}}</div>
                     <div>{{buyer.delivery.country}}</div>
                  </div>
               {{/if}}
            </div>
         </div>
      </div>
      <div class="items">
         <div class="items-header">
            <div class="product-name">Meno produktu</div>
            <div>Mnozstvo</div>
            <div>Jedn. cena bez DPH pred zľavou</div>
            <div>Zľava v %</div>
            <div>Jedn. cena bez DPH po zľave</div>
            <div>Jedn. cena s DPH</div>
            <div>Celkovo</div>
         </div>
         {{#each formattedProducts}}
            <div class="items-cont">
               <div class="product-name">{{this.name}}</div>
               <div>{{this.quantity}} {{this.quantityUnit}}</div>
               <div>{{this.priceBeforeDiscountWithoutTax}}</div>
               <div>{{#if (ne this.discount 0)}}{{this.discount}}{{/if}}</div>
               <div>{{this.priceAfterDiscountWithoutTax}}</div>
               <div>{{this.priceAfterDiscountWithTax}}</div>
               <div>{{this.totalPrice}}</div>
            </div>
         {{/each}}
      </div>
      <div class="footer">
         <div class="note">
            {{#if variableSymbol}}
               <div>Variabilný symbol: {{variableSymbol}}</div>
            {{/if}}
            {{#if note}}
               <div>Poznamka: {{note}}</div>
            {{/if}}
         </div>
         <div class="summary">
            <div class="Tax">
               <div>
                  <div>DPH</div>
                  <div>Základ DPH</div>
                  <div>Výška DPH</div>
                  <div>Celkovo k uhrade</div>
                  <div>Uhradené</div>
               </div>
               <div>
                  <div>20%</div>
                  <div>{{priceSumWithoutTax}}</div>
                  <div>{{priceSumTaxDifference}}</div>
                  <div class="total">{{priceSumWithTax}}</div>
                  <div class="total">{{priceSumPaidAlready}}</div>
               </div>
            </div>
         </div>
      </div>

      <!-- End your code here -->
   </body>

</html>